.accomItem {
    width: 385px;
    height: 384px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    img {
        width: 330px;
        height: 285px;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: 5px;
        opacity: 1;
    }
}