.accomheader {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 700px;
    
    background-color: rgb(165, 142, 95);
    background-attachment: scroll;
    background-position: 10%;
    background-size: cover;
    background-blend-mode: multiply;

    justify-content: center;
    align-items: center;

    h1 {
        color: #FFF;
        text-align: center;
        font-size: 60px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    h4 {
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}



