.MainBooking {
    background-color: #FAFAFA;

    padding: 50px 650px;

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;
        padding: 30px;
        border-color: #684808;
        border-width: 10px;
        border-style: solid;

        .field {
            display: flex;
            flex-direction: column;
            width: 100%;

            .ant-select-selector {
                font-size: 20px;
            }

            label {
                margin-bottom: 10px;
                font-weight: 700;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            input {
                width: 100%;
                border-radius: 5px;
                font-size: 20px;
            }
            
        }
    }
}