.App {
  text-align: center;
}

/*Styling the header */

.header {
  background-color: black;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.headerImg {
  width: 100%;
  height: 700px;
  object-fit: cover;
  opacity: 0.7;  
}

.title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.main {
  background-color: #40bbc4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Page Transition*/

.trans-enter-active, .trans-exit-active {
  transition: opacity 1000ms ease-in;
}

.trans-enter {
  opacity: 0;
}

.trans-enter-done, .trans-enter-active {
  opacity: 1;
}

.trans-exit {
  opacity: 1;
}

.trans-exit-done, .trans-exit-active {
  opacity: 0;
}


h1
{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/*Navigation Bar*/

nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  text-align: center;
  background-color: cadetblue;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0%;
  margin: 0;
}

.navitem {
  list-style: none;
  height: 100%;
}

.navlogo {
  list-style: none;
  width: 30%;
}

.logo {
  width: 100px;
}

.navitem a {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 30px;
  color: white;
  display: block;
  padding: 50px;
  text-decoration: none;
  text-align: center;
}

.navitem a:hover {
  background-color:darkblue;
}


/* Quick booking panel */

.book {
  width: 80%;  
  padding: 10px;
  position: absolute;
  top: 68%;
  left: 9%;
  background-color: white;
  border-radius: 20px;
}

.book form {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.book div {
  margin: 2em;
}

.book input, .book select {
  width: 100%;
  font-size: 18px;
}

.book .button {
  width: 10%;
  margin-top: 55px;
  border: none;
  background-color: cadetblue;
  color: white;
}

.book label
{
  margin-bottom: 10px;
}

/* Booking form */

.fullbook {
  border: 5px;
  border-style: solid;
  padding: 2em;
  width: 35%;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.nameField {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  float: inline-start;
}

select,  input {
  font-size: 15px;
  width: 100%;
  height: 3em;
}

label {
  text-align: left;
  margin-bottom: 5px;
}